//CONTACT
.contact {
  margin-bottom: 120px;

  .left {
    position: relative;
    .fly-road,
    .air-fly {
      position: absolute;
    }
    .fly-road {
      height: 45%;
      top: -20%;
      left: 40%;
      z-index: -1;
    }
    .air-fly {
      height: 16.5%;
      top: 7%;
      left: 85%;
      z-index: 5;
    }
  }
  .logos {
    img {
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .right {
    background: #1e2228;
    padding: 70px;

    .selected-buttons {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 34px;
      .slct {
        margin-right: 6px;
        margin-bottom: 6px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    form {
      input {
        border: 1px solid #31363e;
        box-sizing: border-box;
        border-radius: 8px;
        background: #1e2228;
        padding: 13px 24px;
        width: 100%;
        color: white;
        outline: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin: 16px 0 32px 0;
        &::placeholder {
          color: #95a2b3;
        }
      }
    }
  }
  h4 {
    max-width: 496px;
  }

  @media only screen and (max-width: 992px) {
    .left {
      margin-bottom: 60px;
    }
  }

  @media only screen and (max-width: 768px) {
    .right {
      padding: 20px;
    }
    .fly-road,
    .air-fly {
      display: none;
    }
  }
}

// SCROLL ANIM
.contact {
  &.custom-anim {
    .fly-road {
      opacity: 0;
      transition: 200ms;
      transition-delay: 700ms;
    }
    .air-fly {
      opacity: 0;
      transform: translateX(-180%) translateY(-120%) rotate(45deg) scale(0.2);
      transition: 500ms;
      transition-delay: 400ms;
    }
    .left {
      h3,
      h4,
      .logos {
        opacity: 0;
        transform: translateY(20%);
        transition: 300ms;
      }
      h4 {
        transition-delay: 100ms;
      }
      .logos {
        transition-delay: 250ms;
      }
    }

    .right {
      transform: scale(0);
      transition: 300ms;
      transition-delay: 300ms;
      opacity: 0;
    }
  }

  &.active {
    .air-fly {
      opacity: 1;
      transform: translateX(0) translateY(0) rotate(0) scale(1);
    }
    .fly-road {
      opacity: 1;
    }
    .left {
      h3,
      h4,
      .logos {
        opacity: 1;
        transform: translateY(0%);
      }
    }
    .right {
      opacity: 1;
      transform: scale(1);
    }
  }
}
