//COUNTERS
.counters {
  position: relative;
  z-index: 9;
  width: 100%;
  .container {
    position: relative;
  }
  h4 {
  }
  .obj-counters {
    position: absolute;
    top: -70px;

    left: 0;
  }

  @media only screen and (max-width: 992px) {
    .item {
      margin-bottom: 48px;
    }
  }
}
.line {
  margin: 120px 0;
  img {
    min-width: 100%;
  }
}

//SCROLL ANIM
.counters {
  &.custom-anim {
    .item {
      opacity: 0;
      transition: 300ms;
      h4,
      p {
        transform: scale(0);
        transition: 300ms;
        opacity: 0;
      }
      h4 {
      }
      p {
      }
      &.item-1 {
        p {
          transition-delay: 200ms;
        }
      }
      &.item-2 {
        transition-delay: 250ms;
        p {
          transition-delay: 300ms;
        }
      }
      &.item-3 {
        transition-delay: 500ms;

        p {
          transition-delay: 500ms;
        }
      }
    }
  }
  &.active {
    .item {
      opacity: 1;
      h4,
      p {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
