//FEATURES
.features {
  margin-bottom: 100px;
  position: relative;

  .gradient {
    margin-bottom: 40px;
    height: 56px;
    width: 100%;
    background: linear-gradient(180deg, #1f2228 0%, rgba(28, 31, 37, 0) 100%);
  }
  .buyers-sellers {
    .items {
      display: flex;
      margin-bottom: 48px;
      .dots {
        margin: 6.5px 16px 6.5px 0px;
      }
    }
  }
  @media only screen and (max-width: 992px) {
    .buyers-sellers {
      margin-bottom: 96px;
    }
    .obj-follow-3 {
      opacity: 0.5;
      width: 10%;
    }
    .obj-follow-1 {
      right: 5px;
      width: 20%;
    }
  }
}

//OBJ FOLLOW
.obj-follow-1 {
  position: absolute;
  top: -50px;
  right: 53px;
  max-width: 110px;
}
.obj-follow-3 {
  max-width: 78px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

/////FOLLOW ANIM
.obj-follow-1 {
  animation: rootY 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

//SCROLL ANIM Screen 992 <
@media only screen and (min-width: 992px) {
  @keyframes rootY {
    from {
      transform: translateY(-180%);
    }
    to {
      transform: translateY(1600%);
    }
  }

  .features {
    &.custom-anim {
      .buyers-sellers {
        h3,
        h4,
        .items {
          opacity: 0;
          transition: 300ms;
          transform: translateY(-10%);
        }
        h3 {
        }
        h4 {
          transition-delay: 70ms;
        }
        .items {
          &:nth-child(3) {
            transition-delay: 140ms;
          }
          &:nth-child(4) {
            transition-delay: 210ms;
          }
          &:nth-child(5) {
            transition-delay: 280ms;
          }
        }
      }
    }
    &.active {
      .buyers-sellers {
        h3,
        h4,
        .items {
          opacity: 1;
          transition: 300ms;
          transform: translateY(0%);
        }
      }
    }
  }
}
//SCROLL ANIM Screen 992 >
@media only screen and (max-width: 992px) {
  @keyframes rootY {
    from {
      transform: translateY(-10%);
    }
    to {
      transform: translateY(2000%);
    }
  }
  .buyers-sellers {
    &.custom-anim-left,
    &.custom-anim-right {
      h3,
      h4,
      .items {
        opacity: 0;
        transition: 300ms;
        transform: translateY(-10%);
      }
      h3 {
      }
      h4 {
        transition-delay: 70ms;
      }
      .items {
        &:nth-child(3) {
          transition-delay: 140ms;
        }
        &:nth-child(4) {
          transition-delay: 210ms;
        }
        &:nth-child(5) {
          transition-delay: 280ms;
        }
      }
    }
    &.active {
      h3,
      h4,
      .items {
        opacity: 1;
        transition: 300ms;
        transform: translateY(0%);
      }
    }
  }
}

.obj-follow-2 {
  animation: rootDeg 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rootDeg {
  from {
    transform: rotate(130deg);
  }
  to {
    transform: rotate(-480deg);
  }
}
