//FEATURES SIDE
.features-side {
  margin-bottom: 120px;
  position: relative;
  padding: 64px 0;
  z-index: 6;
  &::before {
    content: '';
    position: absolute;
    bottom: 15%;
    left: 0;
    max-width: 50%;
    width: 100%;
    height: 536px;
    background: #23282f;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.16);
  }
  &::after {
    content: '';
    position: absolute;
    top: 110px;
    right: 0;
    max-width: 50%;
    width: 100%;
    height: 536px;
    background: #1e2228;
    z-index: -1;
    display: flex;
  }
  .row {
    .right-side {
      margin-left: 100px;
      margin-top: 104px;
    }
  }
  @media only screen and (max-width: 992px) {
    &::before,
    &::after {
      display: none;
    }
    .features-side {
      padding: 0 !important;
    }
    .left-side {
      background: #23282f;
      box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.16);
      padding: 60px 40px;
    }
    .right-side {
      margin-top: 70px !important;
      padding: 60px 40px;

      background: #1e2228;
      margin-left: 0 !important;
    }
    .obj-follow-4 {
      display: none;
    }
  }
  @media only screen and (max-width: 768px) {
    .left-side,
    .right-side {
      padding: 40px 20px;
    }
  }
}

//OBJ FOLLOW
.features-side {
  .container {
    position: relative;
  }
}
.obj-follow-2 {
  position: absolute;
  top: -202px;
  right: 0px;
}
//

//SCROLL ANIM Screen 992 >
.features-side {
  &.custom-anim {
    .obj-follow-4 {
      position: absolute;
      top: -118px;
      left: -12%;
    }

    &::before,
    &::after,
    .left-side,
    .right-side {
      transform: scale(0);
      transition: 300ms;
    }
    .left-side,
    .right-side {
      transition: 400ms;
    }
    .right-side,
    &::after {
      transition-delay: 200ms;
    }
  }
  &.active {
    &::before,
    &::after,
    .left-side,
    .right-side {
      transform: scale(1);
    }
    .left-side {
    }
  }
}

/////FOLLOW ANIM
.obj-follow-4 {
  animation: rootX 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.circle {
  animation: rotateCircle 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rootX {
  from {
    transform: translateX(-400%);
  }
  to {
    transform: translateX(900%);
  }
}

@keyframes rotateCircle {
  to {
    transform: rotate(360deg);
  }
}
