//FOOTER
.footer {
  background: #171a1f;
  box-shadow: 0px -1px 0px #31363e;
  padding-top: 96px;
}
footer {
  margin-bottom: 96px;

  .left {
    margin-bottom: 40px;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #95a2b3;
    }
  }
  .footer-nav {
    display: flex;
    ul {
      &:first-child {
        margin-right: 120px;
      }
      li {
        margin-bottom: 24px;
      }
    }
  }
}

//SUBSCRIBE
.subscribe {
  margin-bottom: 90px;
  .form-card {
    background: #1e2228;

    padding: 40px 64px 24px 40px;
    .content {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }
    .form-item {
      min-width: 219.5px;
      margin: 24px 24px 24px 0;
      form {
        width: 100%;
      }
    }
  }
  select,
  .slct-i {
    width: 100%;
    border: 1px solid #31363e;
    box-sizing: border-box;
    border-radius: 8px;
    background: #1e2228;
    padding: 13px 24px;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #95a2b3;
    margin-top: 16px;
    &::placeholder {
      color: #95a2b3;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .select {
    &.icon {
      position: relative;

      &::before {
        pointer-events: none;
        position: relative;
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        right: 18px;
        top: calc(50% + 8px);
        transform: translateY(-50%);
        background: url(../assets/arrowDown.svg) no-repeat center center;
      }
      &:nth-child(3) &::before {
        background: none;
      }
    }
  }
  @media only screen and (max-width: 992px) {
    .form-card {
      padding: 40px 24px !important;
    }
    .form-item {
      width: 45%;
    }
  }

  @media only screen and (max-width: 768px) {
    .form-item {
      width: 100%;
      margin: 24px 0px 24px 0 !important;
    }
  }
}

//FOOTER IMG
.footer-img {
  position: relative;
  img {
    width: 100%;
  }
  &::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 100%;
    top: -1px;
    background: linear-gradient(180deg, #171a1f 20%, rgba(28, 31, 37, 0) 100%);
    z-index: 0;
  }
}
