//HEADER
header {
  margin-top: 56px;

  .navbar {
    transition: 300ms;
  }
}

.toggle {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  visibility: hidden;

  .line {
    transition: 200ms;
    background-color: white;
    height: 2px;
    width: 25px;
    margin: 3px;
    &.line2 {
      width: 30px;
    }
  }
  &.on-off {
    .line1 {
      transform: rotate(45deg) translate(5.5px, 5.5px);
    }
    .line2 {
      transform: rotate(90deg) translateX(10px) translateY(8.5px);
      width: 35px;
    }
    .line3 {
      transform: rotate(-45deg) translate(-6.5px, -18px);
    }
  }
}

//Mobile
@media screen and (max-width: 768px) {
  header {
    .navbar {
      position: absolute;
      background-color: #1e2228;
      top: 0;
      right: 0;
      width: 100%;
      min-height: 100vh;
      z-index: 98;
      transform: translateY(-100%);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
          margin: 2em !important;

          a {
            margin: 0em !important;
          }
        }
        button {
          margin: 1em !important;
          width: 100%;
        }
      }

      &.navbar-active {
        transform: translateY(0%);
        width: 100%;
      }
    }
    .toggle {
      visibility: visible;
      z-index: 99;
    }
  }
}

//LOADER ANIM
header {
  &.custom-loader {
    .logo {
      opacity: 0.1;
      transform: translateY(30%);
      transition: 300ms;
    }
    nav {
      li {
        transition: 300ms;
        transform: translateY(40%);
        opacity: 0;
        &:nth-child(1) {
          transition-delay: 70ms;
        }
        &:nth-child(2) {
          transition-delay: 140ms;
        }
        &:nth-child(3) {
          transition-delay: 210ms;
        }
      }
      .btn {
        transform: translateY(30%);
        transition: 300ms;
        opacity: 0;
        &:nth-child(4) {
          transition-delay: 280ms;
        }
        &:nth-child(5) {
          transition-delay: 350ms;
        }
      }
    }
  }
  &.active {
    .logo {
      opacity: 1;
      transform: translateY(0);
    }
    nav {
      li {
        opacity: 1;
        transform: translateY(0);
      }
      .btn {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
