//HERO
.hero-title {
  margin-top: 96px;
  margin-bottom: 92px;
  .content {
    max-width: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h5,
    h1,
    p {
      margin-bottom: 16px;
    }
    button {
      margin-top: 16px;
    }
  }
}

// LOADER ANIM
.hero-title {
  &.custom-loader {
    h5,
    h1,
    p,
    button {
      opacity: 0;
      transition: 300ms;
      transform: translateY(10%);
    }
    h5 {
      transition-delay: 420ms;
    }
    h1 {
      transition-delay: 490ms;
    }
    p {
      transition-delay: 560ms;
    }
    button {
      transition-delay: 630ms;
      transform: translateY(20%);
    }
  }
  &.active {
    h5,
    h1,
    p,
    button {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
