//HERO IMG
.hero-img {
  margin-bottom: 96px;
  position: relative;
  .full {
    width: 100%;
  }
  .mob {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 69%;
  }
  .rec {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 200px;
    z-index: 4;
    background: linear-gradient(180deg, rgba(28, 31, 37, 0) 0%, #1c1f25 89.67%);
  }
  .obj {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    img {
      width: 100%;
    }
    &.obj1 {
      width: 11%;
      left: 70.8%;
      top: 61%;
    }
    &.obj2 {
      width: 11.04%;
      left: 13%;
      top: -9%;
    }
    &.obj3 {
      width: 4.375%;
      left: 73%;
      top: 8%;
    }
    &.obj4 {
      width: 8%;
      left: 19.7%;
      top: 79.1%;
    }
    &.obj5 {
      width: 3.6%;
      top: 79.1%;
      left: 57.5%;
    }
  }
}

// SCROLL ANIM
.hero-img {
  &.custom-anim {
    .full {
      opacity: 0;
      transition: 300ms;
    }
    .mob {
      opacity: 0;
      transform: translate(-50%, 15%);
      transition: 400ms;
    }
    .rec {
      transform: translate(-50%, 20%);
      transition: 400ms;
    }
    figure {
      opacity: 0;
      transform: translateY(-30%) rotate(30deg);
      transition: 650ms;
      transition-delay: 300ms;
      display: block;
    }
  }
  &.active {
    .full {
      opacity: 1;
      transition-delay: 300ms;
    }
    .mob {
      opacity: 1;
      transform: translate(-50%, 0%);
    }
    .rec {
      transform: translate(-50%, 0%);
    }
    figure {
      opacity: 1;
      transform: translateY(0%) rotate(0deg);
    }

    /////
    .flw-anim {
      animation: rotate 1s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
      animation-iteration-count: 1;
      animation-fill-mode: both;
    }

    @keyframes rotate {
      from {
      }
      to {
        transform: translateY(380%) rotate(220deg);
      }
    }
  }
}
