//OUR BUY NETWORK
.our-buyer-network {
  margin-bottom: 96px;
  h4 {
    margin-bottom: 32px;
  }
  .logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      height: 100%;
      margin-right: 80px;
      margin-bottom: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

//SCROLL ANIM
.our-buyer-network {
  &.custom-anim {
    h4 {
      opacity: 0;
      transition: 300ms;
    }
    .logos {
      img {
        opacity: 0;
        transform: translateY(20%);
        transition: 300ms;

        &:nth-child(2) {
          transition-delay: 70ms;
        }
        &:nth-child(3) {
          transition-delay: 140ms;
        }
        &:nth-child(4) {
          transition-delay: 210ms;
        }
        &:nth-child(5) {
          transition-delay: 280ms;
        }
      }
    }
  }
  &.active {
    h4 {
      opacity: 1;
    }
    .logos {
      img {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
