//PROCESS
.process {
  margin-bottom: 160px;
  position: relative;
  z-index: 9;
  .head {
    margin-bottom: 76px;
  }
  .for {
    background: #1e2228;
    padding: 56px 72px 72px 72px;
  }
  .items {
    margin-bottom: 64px;
  }
  .obj-bot {
    position: absolute;
    left: 42px;
    bottom: -65px;
    z-index: 10;
  }
  @media only screen and (max-width: 992px) {
    &.process {
      margin-bottom: 130px;
    }
    .for {
      &:first-child {
        margin-bottom: 40px;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .for {
      padding: 40px 20px 72px 20px;
    }
  }
}

//SCROLL ANIM
.process {
  &.custom-anim {
    .head {
      h5,
      h3 {
        opacity: 0;
        transition: 350ms;
      }
      h3 {
        transform: translateY(20%);
        transition-delay: 100ms;
      }
    }
    .for {
      transform: scale(0.1);
      transition: 350ms;
      &:nth-child(2) {
        transition-delay: 200ms;
      }
    }
  }
  &.active {
    .head {
      h5,
      h3 {
        opacity: 1;
      }
      h3 {
        transform: translateY(0);
      }
    }
    .for {
      transform: scale(1);
    }
  }
}
