// @import "~bootstrap/scss/bootstrap";
@import '~bootstrap/scss/bootstrap-grid';
@import './template/header';
@import './template/hero-title';
@import './template/hero-img';
@import './template/network';
@import './template/features';
@import './template/features-side';
@import './template/process';
@import './template/counters';
@import './template/contact';
@import './template/footer';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
//SCSS//GLOBAL CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1c1f25;
  font-family: 'Inter', sans-serif;
  position: relative;
}
.wrapper {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
}
.row {
  margin: 0 -10px;
}
[class*='col-'] {
  padding: 0 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.center {
  text-align: center;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mr-48 {
  margin-right: 48px;
}
.text-lh {
  height: 96px;
  overflow: hidden;
  width: 85%;
}
//TITLE
.title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: -0.04em;
  color: #ffffff !important;
  &.title-two {
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.02em;
    color: #ffffff;
    text-align: center;
  }
  &.mini-t {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
  &.purple-t {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.1em;
    color: #5046cf !important;
  }
  &.description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.02em;
    color: #95a2b3 !important;
    &.mini-d {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
.counters-title {
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 97px;
  letter-spacing: -0.04em;
  text-align: center;
  &.red {
    color: #be5f5c;
  }
  &.green {
    color: #4aa368;
  }
  &.purple {
    color: #4155cd;
  }
}
.link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #95a2b3;
}

//BUTTON
.btn {
  position: relative;
  max-height: 50px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 16px 32px;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.92;
  &:hover {
    opacity: 1;
  }
  &:last-child {
    margin-right: 0;
  }

  &.purple {
    background: #5046cf;

    &.outline {
      border: 1px solid #5046cf;
      color: #5046cf;
    }
  }

  &.orange {
    background: #ff993a;

    &.outline {
      border: 1px solid #ff993a;
      color: #ff993a;
    }
  }

  &.slct {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    padding: 16px 24px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    &.active {
      background: #ff993a;
    }
  }
  &.outline {
    max-height: 69px;
    background: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.08);
    width: 100%;
    color: rgba(255, 255, 255, 0.08);
    padding: 24px 56px;
    border-radius: 8px;
    margin-top: 72px;
  }
  .icon {
    position: absolute;
    top: 50%;
    right: 56px;
    transform: translateY(-50%);
  }
}

//DOT COLOR
.dots {
  max-width: 16px;
  max-height: 16px;
  width: 100%;
  border-radius: 50%;
  &.big {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
  }
  &.dot-1 {
    background: #be5f5c;
  }
  &.dot-2 {
    background: #6b4acd;
  }
  &.dot-3 {
    background: #de9442;
  }
  &.dot-4 {
    background: #75c2dc;
  }
  &.dot-5 {
    background: #4155cd;
  }
  &.dot-6 {
    background: #4aa368;
  }
}

//CIRCLE SCROLL
.circle {
  position: absolute;
  max-width: 1000px;
  min-width: 1000px;
  &.left {
    top: 45%;
    right: 55%;

    z-index: -4;
  }
  &.right {
    left: 70%;
    top: 225%;
    z-index: -4;
  }
}
